/* ImageCarousel.css */

.carousel-container {
	position: relative;
	width: 100%;
	max-width: 500px;
	margin: auto;
}

.carousel {
	display: flex;
	overflow: hidden;
}

.carousel-image {
	min-width: 100%;
	transition: transform 0.5s ease-in-out;
	opacity: 0;
}

.carousel-image.active {
	opacity: 1;
}

.prev-button,
.next-button {
	position: absolute;
	top: 50%;
	width: 50px;
	height: 50px;
	color: white;
	border: none;
	cursor: pointer;
	transform: translateY(-50%);
	border-radius: 10px;
}

.prev-button:hover,
.next-button:hover {
	background-color: #30343f;
	opacity: 0.8;
}

.prev-button {
	left: 10px;
}

.next-button {
	right: 10px;
}

/* Responsive Styling */
@media (max-width: 768px) {
	.carousel-container {
		max-width: 400px;
	}

	.carousel-image {
		height: 500px;
	}
}

@media (min-width: 769px) {
	.carousel-image {
		height: auto;
	}
}

/* ImageCarousel.css */

.carousel-container {
	position: relative;
	width: 100%;
	max-width: 500px;
	margin: auto;
}

.carousel {
	display: flex;
	overflow: hidden;
}

.carousel-image {
	min-width: 100%;
	transition: transform 0.5s ease-in-out;
	opacity: 0;
}

.carousel-image.active {
	opacity: 1;
}

.prev-button,
.next-button {
	position: absolute;
	top: 50%;
	width: 30px;
	height: 30px;
	background-color: transparent;
	color: white;
	border: none;
	cursor: pointer;
	transform: translateY(-50%);
}

.prev-button {
	left: 10px;
}

.next-button {
	right: 10px;
}

/* Responsive Styling */
@media (max-width: 768px) {
	.carousel-container {
		max-width: 400px;
	}

	.carousel-image {
		height: 500px;
	}
}

@media (min-width: 769px) {
	.carousel-image {
		height: auto;
	}
}
