.carousel-container {
	position: relative;
	width: 100%;
	max-width: 800px;
	margin: auto;
	border-radius: 10px;
	overflow: hidden;
	background-color: #1c1e21;
  }
  
  .carousel {
	display: flex;
	transition: transform 0.5s ease-in-out;
	-ms-overflow-style: none;
	scrollbar-width: none;
  }
  
  .carousel::-webkit-scrollbar {
	display: none;
  }
  
  .carousel-image {
	min-width: 100%;
	transition: opacity 0.5s ease-in-out;
	opacity: 0;
	border-radius: 10px;
	object-fit: cover;
  }
  
  .carousel-image.active {
	opacity: 1;
  }
  
  .prev-button,
  .next-button {
	position: absolute;
	top: 50%;
	width: 40px;
	height: 40px;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	border: none;
	cursor: pointer;
	transform: translateY(-50%);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .prev-button:hover,
  .next-button:hover {
	background-color: rgba(0, 0, 0, 0.7);
  }
  
  .prev-button {
	left: 10px;
  }
  
  .next-button {
	right: 10px;
  }
  
  /* Responsive Styling */
  @media (max-width: 768px) {
	.carousel-container {
	  max-width: 100%;
	  border-radius: 0;
	}
  
	.carousel-image {
	  height: 300px;
	}
  }
  
  @media (min-width: 769px) {
	.carousel-image {
	  height: auto;
	}
  }