* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.login {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 40vh;
	width: 90vh;
}
.loginForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 50%;
	height: 100%;
	border-radius: 10px;
	background-color: darkslategrey;
	padding: 20px;
	border: 2px solid black;
	gap: 1rem;
}
.button-group {
	display: flex;
	width: auto;
	gap: 20px;
}
.email,
.password {
	padding: 5px;
	width: 70%;
	border-radius: 5px;
	border: none;
	outline: none;
}

.loginBtn,
.registerBtn {
	padding: 5px;
	border-radius: 5px;
	border: none;
	width: 4rem;
}
