$BackgroundColor: #181c1f;
$inputBackgroundColor: #2b3236;
$accentColor: #fd2d01;
$generalTextFont: "Raleway", sans-serif;
$headingFont: "Roboto", sans-serif;

.profile-page {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    top: 25%;
    right: -100%;
    width: 300px;
    height: 50%;
    background-color: $BackgroundColor;
    color: #fff;
    border-radius: 10px 10px;
    transition: right 0.5s ease;
    z-index: 1000;
    padding: 25px;
    h2{
      font-family: $headingFont;
    }
    .delete-user{
      background-color: $inputBackgroundColor;
      color: #fff;
      width: 200px;
      border: none;
      outline: none;
      padding: 10px;
      font-family: $generalTextFont;
      font-size: 1rem;
      font-weight: 600;
      border-radius: 10px;
      cursor: pointer;
      &:hover{
        background-color: $accentColor;
        color: $BackgroundColor;
        transition: 0.5s;
      }
    }
    .profile-info{
      font-family: $generalTextFont;
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 10px;
      .user-profile-info{
        border-radius: 10px;
        background-color: $inputBackgroundColor;
        padding: 10px;
        text-wrap: nowrap;
        span{
          text-transform: capitalize;
          font-weight: bold;
        }
      }
    }
  }
  
  .profile-page.open {
    right: 0;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    background: none;
    color: $accentColor;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }